doctype html
html
    head
        title Blog
        link(rel='stylesheet', href='/bootstrap/css/bootstrap.min.css')
        link(rel='stylesheet', href='/css/style.css')
    body
        .container
            nav.navbar.navbar-expand-md.navbar-dark.bg-dark.fixed-top
                a.navbar-brand(href='#') Blog
                button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbar', aria-controls='navbar', aria-expanded='false', aria-label='Toggle navigation')
                    span.navbar-toggler-icon
                #navbar.collapse.navbar-collapse
                    ul.navbar-nav.mr-auto
                        li.nav-item.active
                            a.nav-link(href='/') Home
                            span.sr-only (current)
                        li.nav-item
                            a.nav-link(href='/articles/add') Add Articles
                            li.nav-item
                            a.nav-link(href='/user/login') Logout
        .container
            br
            br
            br
            != messages('message', locals)
            if errors
                each error in errors
                    div(class='alert alert-danger') #{error.msg}
            block content
        script(src='https://code.jquery.com/jquery-3.5.1.min.js')
        script(src='/bootstrap/js/bootstrap.js')
        <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
        script(src='/js/main.js')